[submodule "client/submodules/custom-bootstrap"]
	path = client/submodules/custom-bootstrap
	url = git@github.com:tsaxking/custom-bootstrap.git
[submodule "client/submodules/colors"]
	path = client/submodules/colors
	url = git@github.com:tsaxking/colors.git
[submodule "client/submodules/calculations"]
	path = client/submodules/calculations
	url = https://github.com/tsaxking/calculations.git
