{
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [
        { "files": "*.svelte", "options": { "parser": "svelte" } },
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ],
    "tabWidth": 4,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "singleQuote": true,
    "svelteAllowShorthand": true,
    "svelteSortOrder": "scripts-markup-options-styles",
    "svelteIndentScriptAndStyle": false,
    "svelteStrictMode": true
}
