@import url('./scss/bs-overwrite.scss');

:root {
    /* --bs-danger: #ad333f; */
    /* --bs-primary: #0c4888; */
    /* --bs-success: #1d6a46; */
    /* --bs-warning: #ad8c33; */
    /* --bs-info: #1690a8; */
    /* --bs-light: #bababa; */
}

.modal {
    --bs-modal-header-padding: 0.5rem;
    --bs-modal-padding: 0.5rem;
    /* --bs-modal-footer-gap: 0px; */
}

.modal-content {
    border: none !important;
    /* border-radius: 2px !important; */
}

.modal-footer * {
    /* margin: 0; */
}

.modal-footer .btn {
    padding: 0.25rem 0.5rem;
}
