.cursor-pointer {
    cursor: pointer !important;
}

.cursor-move {
    cursor: move !important;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.cursor-grab {
    cursor: grab !important;
}

.cursor-grabbing {
    cursor: grabbing !important;
}

.cursor-zoom-in {
    cursor: zoom-in !important;
}

.cursor-zoom-out {
    cursor: zoom-out !important;
}

.w-min {
    width: min-content !important;
}

.h-min {
    height: min-content !important;
}

.h-max {
    height: max-content !important;
}

.h-1-min {
    height: min(1rem, .25vh) !important;
}

.w-max {
    width: max-content !important;
}

.ws-nowrap {
    white-space: nowrap;
}

.table-small {
    height: 50vh;
    overflow-y: scroll;
}

.table-small th {
    position: sticky !important;
    top: 0 !important;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.scroll-x {
    overflow-x: scroll !important;
}

.scroll-y {
    overflow-y: scroll !important;
}

.no-scroll {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.no-scroll-x {
    overflow-x: hidden !important;
}

.no-scroll-y {
    overflow-y: hidden !important;
}

.custom-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.custom-btn-hover-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.custom-btn-light.selected {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.week-set .week-day {
    height: 36px !important;
    width: 36px !important;
    line-height: 36px;
    border-radius: 50% !important;
    padding: 0px !important;
}

.zoom {
    transition: transform .5s ease;
}

.zoom:hover {
    z-index: 999999999999999999999;
}

.zoom:hover,
.zoom.zoom-xs:hover {
    transform: scale(1.1) !important;
}

.zoom.zoom-sm:hover {
    transform: scale(1.3) !important;
}

.zoom.zoom-md:hover {
    transform: scale(1.5) !important;
}

.zoom.zoom-lg:hover {
    transform: scale(1.7) !important;
}

.zoom.zoom-xl:hover {
    transform: scale(2) !important;
}

.opacity-fade {
    transition: opacity .5s ease;
}

.opacity-fade-fast {
    transition: opacity .2s ease;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: .1 !important;
}

.opacity-2 {
    opacity: .2 !important;
}

.opacity-3 {
    opacity: .3 !important;
}

.opacity-4 {
    opacity: .4 !important;
}

.opacity-5 {
    opacity: .5 !important;
}

.opacity-6 {
    opacity: .6 !important;
}

.opacity-7 {
    opacity: .7 !important;
}

.opacity-8 {
    opacity: .8 !important;
}

.opacity-9 {
    opacity: .9 !important;
}

.opacity-10 {
    opacity: 1 !important;
}

.hover-text {
    transition: color .5s ease-in-out;
}

.hover-text-fast {
    transition: color .2s ease-in-out;
}

.hover-text-slow {
    transition: color .7s ease-in-out;
}

.hover-bg {
    transition: background-color .5s ease-in-out;
}

.hover-bg-fast {
    transition: background-color .2s ease-in-out;
}

.hover-bg-slow {
    transition: background-color .7s ease-in-out;
}

.hover {
    transition: all .5s ease;
}

.hover-fast {
    transition: all .2s ease;
}

.hover-slow {
    transition: all .7s ease;
}

.hover-text-primary:hover {
    color: #0d6efd !important;
}

.hover-text-info:hover {
    color: #0dcaf0 !important;
}

.hover-text-success:hover {
    color: #198754 !important;
}

.hover-text-warning:hover {
    color: #ffc107 !important;
}

.hover-text-danger:hover {
    color: #dc3545 !important;
}

.hover-text-secondary:hover {
    color: #6c757d !important;
}

.hover-text-light:hover {
    color: #f8f9fa !important;
}

.hover-text-dark:hover {
    color: #343a40 !important;
}

.hover-bg-primary:hover {
    background-color: #0d6efd !important;
}

.hover-bg-info:hover {
    background-color: #0dcaf0 !important;
}

.hover-bg-success:hover {
    background-color: #198754 !important;
}

.hover-bg-warning:hover {
    background-color: #ffc107 !important;
}

.hover-bg-danger:hover {
    background-color: #dc3545 !important;
}

.hover-bg-secondary:hover {
    background-color: #6c757d !important;
}

.hover-bg-light:hover {
    background-color: #f8f9fa !important;
}

.hover-bg-dark:hover {
    background-color: #343a40 !important;
}

.hover-shadow:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2) !important;
}

.aspect-ratio-square,
.square {
    aspect-ratio: 1 !important;
}

.aspect-ratio-2x1 {
    aspect-ratio: 2 / 1 !important;
}

.animate-transform {
    transition: transform .5s ease;
}

.animate-transform-fast {
    transition: transform .2s ease;
}

.animate-transform-slow {
    transition: transform .7s ease;
}

.animate-bg {
    transition: background-color .5s ease;
}

.animate-bg-fast {
    transition: background-color .2s ease;
}

.animate-bg-slow {
    transition: background-color .7s ease;
}

.x-index-0 {
    z-index: 0 !important;
}

.x-index-1 {
    z-index: 1 !important;
}

.x-index-2 {
    z-index: 2 !important;
}

.x-index-3 {
    z-index: 3 !important;
}

.x-index-4 {
    z-index: 4 !important;
}

.x-index-5 {
    z-index: 5 !important;
}

.x-index-6 {
    z-index: 6 !important;
}

.x-index-7 {
    z-index: 7 !important;
}

.x-index-8 {
    z-index: 8 !important;
}

.x-index-9 {
    z-index: 9 !important;
}

.x-index-10 {
    z-index: 10 !important;
}

.x-index-11 {
    z-index: 11 !important;
}

.x-index-12 {
    z-index: 12 !important;
}

.x-index-13 {
    z-index: 13 !important;
}

.x-index-14 {
    z-index: 14 !important;
}

.x-index-15 {
    z-index: 15 !important;
}

.x-index-16 {
    z-index: 16 !important;
}

.x-index-17 {
    z-index: 17 !important;
}

.x-index-18 {
    z-index: 18 !important;
}

.x-index-19 {
    z-index: 19 !important;
}

.x-index-20 {
    z-index: 20 !important;
}

.x-index-21 {
    z-index: 21 !important;
}

.x-index-22 {
    z-index: 22 !important;
}

.x-index-23 {
    z-index: 23 !important;
}

.x-index-24 {
    z-index: 24 !important;
}

.x-index-25 {
    z-index: 25 !important;
}

.x-index-26 {
    z-index: 26 !important;
}

.x-index-27 {
    z-index: 27 !important;
}

.x-index-28 {
    z-index: 28 !important;
}

.x-index-29 {
    z-index: 29 !important;
}

.x-index-30 {
    z-index: 30 !important;
}

.x-index-31 {
    z-index: 31 !important;
}

.x-index-32 {
    z-index: 32 !important;
}

.x-index-33 {
    z-index: 33 !important;
}

.x-index-34 {
    z-index: 34 !important;
}

.x-index-35 {
    z-index: 35 !important;
}

.x-index-36 {
    z-index: 36 !important;
}

.x-index-37 {
    z-index: 37 !important;
}

.x-index-38 {
    z-index: 38 !important;
}

.x-index-39 {
    z-index: 39 !important;
}

.x-index-40 {
    z-index: 40 !important;
}

.x-index-41 {
    z-index: 41 !important;
}

.x-index-42 {
    z-index: 42 !important;
}

.x-index-43 {
    z-index: 43 !important;
}

.x-index-44 {
    z-index: 44 !important;
}

.x-index-45 {
    z-index: 45 !important;
}

.x-index-46 {
    z-index: 46 !important;
}

.x-index-47 {
    z-index: 47 !important;
}

.x-index-48 {
    z-index: 48 !important;
}

.x-index-49 {
    z-index: 49 !important;
}

.x-index-50 {
    z-index: 50 !important;
}

.rotate-0 {
    transform: rotate(0deg) !important;
}

.rotate-30 {
    transform: rotate(30deg) !important;
}

.rotate-45 {
    transform: rotate(45deg) !important;
}

.rotate-60 {
    transform: rotate(60deg) !important;
}

.rotate-90 {
    transform: rotate(90deg) !important;
}

.rotate-120 {
    transform: rotate(110deg) !important;
}

.rotate-135 {
    transform: rotate(135deg) !important;
}

.rotate-150 {
    transform: rotate(150deg) !important;
}

.rotate-180 {
    transform: rotate(180deg) !important;
}

.rotate-210 {
    transform: rotate(210deg) !important;
}

.rotate-225 {
    transform: rotate(225deg) !important;
}

.rotate-240 {
    transform: rotate(240deg) !important;
}

.rotate-270 {
    transform: rotate(270deg) !important;
}

.rotate-300 {
    transform: rotate(300deg) !important;
}

.rotate-315 {
    transform: rotate(315deg) !important;
}

.rotate-330 {
    transform: rotate(330deg) !important;
}

.mirror-x {
    transform: scaleX(-1) !important;
}

.mirror-y {
    transform: scaleY(-1) !important;
}

.circle {
    border-radius: 50% !important;
    aspect-ratio: 1/1 !important;
}

.material-icons {
    vertical-align: middle;
    line-height: 0 !important;
    position: relative;
    top: -1px;
}