// Overwrite Bootstrap padding and margin

// loop through the $spacers map

$spacers: (
    0: 0,
    1: 0.125rem,
    2: 0.25rem,
    3: 0.5rem,
    4: 0.75rem,
    5: 1rem
);

@each $spacer, $value in $spacers {
    .p-#{$spacer} {
        padding: $value !important;
    }

    .pt-#{$spacer} {
        padding-top: $value !important;
    }

    .pr-#{$spacer} {
        padding-right: $value !important;
    }

    .pb-#{$spacer} {
        padding-bottom: $value !important;
    }

    .pl-#{$spacer} {
        padding-left: $value !important;
    }

    .px-#{$spacer} {
        padding-left: $value !important;
        padding-right: $value !important;
    }

    .py-#{$spacer} {
        padding-top: $value !important;
        padding-bottom: $value !important;
    }

    .m-#{$spacer} {
        margin: $value !important;
    }

    .mt-#{$spacer} {
        margin-top: $value !important;
    }

    .mr-#{$spacer} {
        margin-right: $value !important;
    }

    .ms-#{$spacer} {
        margin-left: $value !important;
    }

    .me-#{$spacer} {
        margin-right: $value !important;
    }

    .mb-#{$spacer} {
        margin-bottom: $value !important;
    }

    .ml-#{$spacer} {
        margin-left: $value !important;
    }

    .mx-#{$spacer} {
        margin-left: $value !important;
        margin-right: $value !important;
    }

    .my-#{$spacer} {
        margin-top: $value !important;
        margin-bottom: $value !important;
    }
}
