<div class="row mb-3">
    <div class="col-12">
        <h3 class="text-center">Server Logs</h3>
        <pre class="table-responsive bg-dark rounded shadow p-3">
            <table id="lg--server-logs"></table>
        </pre>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12">
        <h3 class="text-center">Request Logs</h3>
        <pre class="table-responsive bg-dark rounded shadow p-3">
            <table id="lg--request-logs"></table>
        </pre>
    </div>
</div>

<!-- <script src="../static/js/pages/home/logs.js"></script> -->