<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">
                    Event Properties
                </h5>
            </div>
            <div class="card-body">
                <select id="st--field-orientation-select"></select>
                <div id="st--checkboxes"></div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" id="st--save-event-properties">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <h3 class="text-center">
        Pending Requests
    </h3>
    <div class="container">
        <div class="row mb-3" id="st--pending-requests">

        </div>

        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table table-dark table-striped table-hover" id="st--verified-accounts-table"></table>
            </div>
        </div>
    </div>
</div>


<!-- <script src="../static/js/pages/home/settings.js"></script> -->