SESSION_DURATION = '315360000000'
PORT = '4000'
SOCKET_PORT = '4001'
ENVIRONMENT = 'dev'
DOMAIN = 'http://localhost:4000'
SOCKET_DOMAIN = 'http://localhost:4001'
TITLE = 'My Docker App'
AUTO_SIGN_IN = ''
SENDGRID_API_KEY = ''
SENDGRID_DEFAULT_FROM = ''
SEND_STATUS_EMAILS = 'FALSE'
TBA_KEY = ''
RANDOM_KEY_AUTH = ''
RANDOM_KEY_LINK = ''
DATABASE_USER = 'postgres'
DATABASE_PASSWORD = 'postgres'
DATABASE_NAME = 'postgres'
DATABASE_HOST = 'localhost'
DATABASE_PORT = '5433'
MINIFY = 'n'
RECAPTCHA_SITE_KEY = ''
RECAPTCHA_SECRET_KEY = ''
BACKUP_DAYS = '7'
BACKUP_INTERVAL = '24'
