<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sfzMusic: New Password</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="../static/pictures/website/logo-square.png">
</head>

<body>
    <main>
        <div class="container">
            <div class="row">
                <div class="mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control" id="new-password" aria-describedby="helpId" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" aria-describedby="helpId" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="button" class="btn btn-primary" id="submit-new-password">Submit</button>
                </div>
            </div>
        </div>
    </main>
    <script src="lite.js"></script>
    <script>
        document.querySelector('#submit-new-password').addEventListener('click', () => {
            const newPassword = document.querySelector('#new-password').value;
            const confirmPassword = document.querySelector('#confirm-password').value;

            requestFromServer({
                url: '/account/new-password',
                method: 'POST',
                body: {
                    newPassword,
                    confirmPassword
                }
            });
        });
    </script>


</body>